<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn"
        tools:targetApi="31">

        <!-- SplashActivity là màn hình đầu tiên khi ứng dụng khởi động -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SigninActivity là màn hình đăng nhập sau Splash -->
        <activity
            android:name=".SigninActivity"
            android:theme="@style/Theme.OderCoffee"
            android:exported="true">
            <!-- Không cần khai báo LAUNCHER cho SigninActivity -->
        </activity>

        <!-- SignupActivity: Màn hình đăng ký tài khoản -->
        <activity
            android:name=".SignupActivity"
            android:exported="true" /> <!-- Đảm bảo khai báo SignupActivity -->

        <!-- ForgetPasswordActivity: Màn hình quên mật khẩu -->
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true" /> <!-- Đảm bảo khai báo ForgetPasswordActivity -->

        <!-- MainActivity là màn hình chính sau khi đăng nhập thành công -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>
</manifest>
